<html>
<head>


<!-- Latest compiled and minified JavaScript -->

  <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"></link>

    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap-theme.min.css"></link>
    <link rel="stylesheet" href="css/template.css"></link>
</head>


<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">GameTradeTown</a>
        </div>
    <div class="navbar-collapse collapse" id="navbar">


          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/trade">Trade</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        <form class="navbar-form navbar-right" method="POST" action="/login">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" name="username"></input>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password"></input>
            </div>
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
        </div>    <!--/.nav-collapse -->
      </div>
</nav>
<div class="container containerbckgrnd">
<div class="col-md-3 imageTop"><img class="img-circle" width="100" height="100" src="images/assasins3.jpg"> </img><p class="small">Assasins Creed 3 is up for trade</p>
        <button type="submit" class="btn btn-default">Ask for trade</button>
</div>

</div>

</body>

</html>
